<div class="row panel panel-default">
    <div class="panel-body">
        <div class="col-md-3">
            <img ng-src="{{ comment.image }}" class="img-circle" style="max-height: 100px; border: 2px solid #cccccc;">
        </div>
        <div class="col-md-9">
            <ul class="list-unstyled">
                <li><strong>Name: </strong>{{ comment.name }}</li>
                <li><strong>Email: </strong>{{ comment.email }}</li>
                <li><strong>Address: </strong>{{ comment.address }}</li>
                <li><strong>Birthdate: </strong>{{ comment.birthdate }}</li>
            </ul>
        </div>
    </div>
    <div class="panel-footer">
        <div class="container">
            <a href="#"><i class="glyphicon glyphicon-remove"></i> Reprove</a> &nbsp
            <a href="#"><i class="glyphicon glyphicon-check"></i> Aprove</a>
        </div>
    </div>
</div>
